/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
}

/* Resume Container */
.resume-container {
    display: flex;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #e63946;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #e63946;
    margin-bottom: 20px;
}

/* Headers */
h1 {
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #e63946;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(230, 57, 70, 0.2);
    padding: 10px;
}

/* Lists */
ul {
    list-style-type: square;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section */
.right-section {
    padding: 20px;
    width: 65%;
}

/* Button Styling */
button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
    border: none;
}

button:hover {
    background-color: #ff737c;
}
